@import url('https://fonts.googleapis.com/css2?family=Hammersmith+One&display=swap');

/* Variables For Background Color */
:root {
  --darkBlue: #072a40;
  --medBlue: #178ca4;
  --lightBlue: #18b7be;
  --sand: #f9f7f0;
  --lightGray: #bebebe;
}

body {
  font-family: 'Hammersmith One', sans-serif;
  display: block;
  margin: 0px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: left;
}
.menu li a {
  font-size: 25px;
}

li a {
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;
}

p {
  font-size: 20px;
}

.menu {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.footer {
  width: 100%;
  position: absolute;
  bottom: 0px;
  display: flex;
  justify-content: center;
}

/* Flexbox */
.row {
  margin: 20px;
  display: flex;
}
.col {
  margin: 20px;
}
